<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Otomasyon_Sistemi.Properties.Settings.TelefonSatisOtomasyonuConnectionString"
            connectionString="Data Source=RUMEYSAAY;Initial Catalog=TelefonSatisOtomasyonu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="localhost_TelefonSatisOtomasyonu_Connection" connectionString="XpoProvider=MSSqlServer;data source=RUMEYSAAY;integrated security=SSPI;initial catalog=TelefonSatisOtomasyonu" />
    </connectionStrings>
</configuration>